*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background: linear-gradient(to right,blue,black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.calender{
    display:flex;
    height: 380px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 20px;
}
.left{
    width: 58%;
    height:380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    width: 42%;
    height:380px;
    background-color: rgb(240, 60, 60);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#date {
  font-size: 100px;
}
#day {
  font-size: 30px;
}
#month {
  font-size: 25px;
}
#year {
  font-size: 40px;
}